<!DOCTYPE html>
<html>
<head> <% include ./head %> </head>
<style>
    h1.a {
        text-align: center;
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<body>
<% include ./header %>
    <script type="text/javascript">
    var clicks = 0;
    function onClick() {
        clicks += 1;
        document.getElementById("clicks").innerHTML = clicks;
    };
    </script>

    <a class="btn" href="/additem">Add New Item</a>

    <div class="card">

    <table class="highlight">
        <tr>
            <th>Added by</th><th>Game</th><th>Creator</th><th>Link</th><th>Email</th><th>Date</th><th>Likes</th><th>Actions</th>
        </tr>

        <% items.forEach(function(item){  %>
        <tr> <td> <%= item.addedBy %> </td>
        <td> <%= item.game %> </td>
        <td> <%= item.creator %> </td>
        <td> <a href="<%= item.link %>">Website</a></td>
        <td> <%= item.email %> </td>
        <td> <%= item.date %> </td>
        <td> <%= item.likes %></td>
            <td> <a href="/like?game=<%=item.game %>"><i class="material-icons">favorite</i></a>
                 <a href="/delete?game=<%=item.game %>"><i class="material-icons">delete</i></a>
            </td>
        </tr>



        <% }) %>
    </table>
    </div>



<% include ./footer %>
</body>
</html>
